<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Caster.fm HTML5 Embedded Radio Player</title>

<script type="text/javascript" src="https://corscdn.caster.fm/advplayer/js/jquery.min.js"></script>
<script type="text/javascript" src="https://corscdn.caster.fm/advplayer/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="https://corscdn.caster.fm/advplayer/js/jplayer.inspector.js"></script>
<script type="text/javascript" src="https://corscdn.caster.fm/advplayer/js/last.fm.js"></script>

<link href="https://corscdn.caster.fm/advplayer/css/style.css" rel="stylesheet" type="text/css" />
<link href="https://corscdn.caster.fm/advplayer/css/yellow.css"  rel="stylesheet" type="text/css">

<style>#jplayer_inspector {overflow:scroll;height:300px;}</style>

<script type="text/javascript">
//move to general functions file
var format2codecob = {mp3:'mp3', aac:'m4a', ogg:'oga'};function format2codec(format){return format2codecob[format];}
var codec2formatob = {mp3:'mp3', m4a:'aac', oga:'ogg'};function codec2format(format){return codec2formatob[format];}
var streamhost = 'sapircast.caster.fm';
var streamport = '11603';
var statustype = 'icecast';  // 1 'icecast' or 2 'centova'
var statusdatatype = 'json';  // 1 'icecast' or 2 'centova'
var statusmount = '/vvuLH';
var proservername = 'RADIODJBOGA';
var prousername = 'source';
var vautoplay = false;
var iscolor = 'false';
var detectmobile = false;
var isdbg =  0;
var ispop =  0;

var statusurl = '//sapircast.caster.fm:11603/status_cstrj.xsl';

/*
var streams ={
    0:{'kbps':'64','format':'mp3','mount':'vvuLH'},1:{'kbps':'64','format':'oga','mount':'vvuLH'},4:{'kbps':'64','format':'m4a','mount':'vvuLH'},2:{'kbps':'128','format':'mp3','mount':'vvuLH'},3:{'kbps':'128','format':'oga','mount':'vvuLH'}};
*/

var streams ={
    64: {
        mp3:'http://sapircast.caster.fm:11603/vvuLH',
        oga:'http://sapircast.caster.fm:11603/vvuLH',
        m4a:'http://sapircast.caster.fm:11603/vvuLH'
    },
    128: {
        mp3:'http://sapircast.caster.fm:11603/vvuLH',
        oga:'http://sapircast.caster.fm:11603/vvuLH'
    }
};

var defaultstream = 64;
var solution = "html,flash";
var stream = streams[defaultstream];
var dataretry,datatimer,datatimertime;
trackTime = 0;
dataretry=0;
</script>
<script type="text/javascript" src="https://corscdn.caster.fm/advplayer/js/player.icecast.js"></script>

</head>
<body>
<!-- play audio -->

<div id="jquery_jplayer_1" ></div>
<div id="container">
  <div id="container-inner">
    <div id="content-border">
      <!-- content bar -->
      <div id="content-holder">
        <!-- content 1 -->
        <div id="content" class="content1">
          <div id="content-live">
            <div id="album">
              <div id="albumbox1">No Album Cover</div>
              <div id="albumbox2"><img width="80px" height="80px" style="height:80px;width:80px;" id="albumart" src="https://corscdn.caster.fm/advplayer/images/noalbum.png" /></div>
              <div id="albumbox3"><img src="https://corscdn.caster.fm/advplayer/images/gloss.png" style="opacity:0.4;"/></div>
            </div>
            <span id="titletxt" class="title neontitle">Loading...</span><br/>
            <span id='artisttxt' style="color:#b2b2b2; font-weight:bold; font-size:12px;"></span>  <br/>
            <span id='albumtxt' style="color:#b2b2b2; font-weight:bold; font-size:12px;"></span>  <br/>
            <span id="streamspec" style="color:#7E7E7E; font-size:10px;"><span  id="streambitrate">64</span> Kbps, <span id="streamformat">MP3</span></span><span class="jp-no-solution" style="display:none;">Error: Your Browser doesn't support the stream codec/s.</span><span class="newwindow"><span class="icon-new-tab ttl" title="Open in a new window"></span></span> </div>
        </div>
        <div class="clear"></div>
        <!-- content 2 -->
        <div class="content content2">
          <div style="float:left; margin:0px 0px 12px 0px;" class="title">Tune in Media Player Links:</div>
          <div class="clear"></div>
          <div class="iconbox">
            <div id="ico1"><a href="https://sapircast.caster.fm:2199/tunein/source.pls"><img src="https://corscdn.caster.fm/advplayer/images/ico1.png" style="float:left;" />
              <p class="icontext">Winamp/iTunes</p></a>
            </div>
          </div>
          <div class="iconbox">
            <div id="ico2"><a href="https://sapircast.caster.fm:2199/tunein/source.asx"><img src="https://corscdn.caster.fm/advplayer/images/ico2.png" style="float:left;" />
              <p class="icontext">Windows Media Player</p></a>
            </div>
          </div>
          <div class="iconbox">
            <div id="ico3"><a href="https://sapircast.caster.fm:2199/tunein/source.ram"><img src="https://corscdn.caster.fm/advplayer/images/ico3.png" style="float:left;" />
              <p class="icontext">Real Player</p></a>
            </div>
          </div>
          <div class="iconbox">
            <div id="ico4"><a href="https://sapircast.caster.fm:2199/tunein/source.qtl"><img src="https://corscdn.caster.fm/advplayer/images/ico4.png" style="float:left;" />
              <p class="icontext">QuickTime</p></a>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <!-- content 3 -->
        <div class="content content3">
          <div style="float:left; margin:0px 0px 25px 0px;" class="title">Choose Bitrate</div>
          <div class="clear"></div>
          <a id='kbs64' onclick='changer(64);'  class='stream active_stream'>64 Kbps</a> &nbsp;&nbsp;&nbsp;&nbsp; <a id='kbs128' onclick='changer(128);'  class='stream '>128 Kbps</a>          </div>
        <div class="clear"></div>
        <!-- content 4 -->
        <div class="content content4">
          <div style="float:left; margin:0px 0px 25px 0px;" class="title">Embed This Player In Your Website:</div>
          <div class="clear"></div>
          <div id="embedtitle">Embed Code:</div>
          <div id="embed">
            <input id="embedtext" type="text" value="<iframe height='170px' frameborder='0' seamless src='https://widgets.caster.fm/advancedplayer.php?h=sapircast.caster.fm&amp;p=11603&amp;s=RADIODJBOGA&amp;u=source&amp;st=1&amp;sr[0][k]=64&amp;sr[0][f]=mp3&amp;sr[0][m]=vvuLH&amp;sr[1][k]=64&amp;sr[1][f]=oga&amp;sr[1][m]=vvuLH&amp;sr[4][k]=64&amp;sr[4][f]=m4a&amp;sr[4][m]=vvuLH&amp;sr[2][k]=128&amp;sr[2][f]=mp3&amp;sr[2][m]=vvuLH&amp;sr[3][k]=128&amp;sr[3][f]=oga&amp;sr[3][m]=vvuLH&embed=true'></iframe>" />
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- player bar -->
      <div id="playerbar">
        <div id="jp_container_1" >
          <div id="livebtn" class="offair neontitle">N/A</div>
          <div class="break left"></div>
          <div id="volumebar">


            <section> <span class="tooltip"></span> <!-- Tooltip -->
              <span class="jp-mute"></span> <!-- Volume -->
              <input id="volumecount" type="text" data-slider="true" value="1.0" data-slider-highlight="true" data-slider-theme="volume">
              <!-- the Slider -->

            </section>
          </div>
          <div class="break left" id="volumebarbreak"></div>
          <div class="tt" title="Get Embed Code"  id="btn3"><span class="iconn icon-embed2"></span></div>
          <div id="btnplay-holder">
            <div id="playbtn" class="jp-play" ></div>
          </div>
          <div class="tt" title="Switch Stream Bitrate"  id="btn2"><span class="iconn icon-feed"></span></div>
          <div class="break right"></div>
          <div class="tt" title="Tune In Links" id="btn1"><span class="iconn icon-link"></span></div>
          <div class="break right" id="tuneinbreak"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

	window.swfPath = 'https://corscdn.caster.fm/advplayer/js/';
	</script>
<script type="text/javascript" src="https://corscdn.caster.fm/advplayer/js/player.js"></script>
</body>
</html>